<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wpf_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Wpf_Client.Properties.Settings>
            <setting name="ServerIP" serializeAs="String">
                <value>local</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="MazeCols" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MazeRows" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SearchAlgorithm" serializeAs="String">
                <value>1</value>
            </setting>
        </Wpf_Client.Properties.Settings>
    </userSettings>
</configuration>